@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}

.text-area-container {
  width: 800px;
  margin: 40px auto 0px;
  border-left: 1px solid rgb(236, 235, 235);
  border-right: 1px solid rgb(236, 235, 235);
  padding: 0px 10px;
}

.editable {
  white-space: initial;
  width: 100%;
  font-size: 16px;
  outline: none;
}

.actionBtn {
  background-color: transparent;
  border: none;
  outline: none;
  min-width: 0px;
  margin: 0px;
  padding: 0px 15px;
  cursor: pointer;
}

.actionBtn:hover {
  color: blue;
}

.heading-btn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

/* .editable {
  font-family: sans-serif;
  margin-left: 10%;
  width: 75%;
  min-height: 100px;
  border: 1px dashed #aaa;
  padding: 5px;
  resize: none;
}

textarea.editable {
  font-family: monospace, monospace;
}

button {
  min-width: 70px;
  padding: 5px;
  margin: 5px;
} */
