@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}

.text-area-container {
  width: 800px;
  margin: 40px auto 0px;
  border-left: 1px solid rgb(236, 235, 235);
  border-right: 1px solid rgb(236, 235, 235);
  padding: 0px 10px;
}

.editable {
  white-space: initial;
  width: 100%;
  font-size: 16px;
  outline: none;
}

.actionBtn {
  background-color: transparent;
  border: none;
  outline: none;
  min-width: 0px;
  margin: 0px;
  padding: 0px 15px;
  cursor: pointer;
}

.actionBtn:hover {
  color: blue;
}

.heading-btn,
.font-family-btn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.roboto {
  font-family: "Roboto", sans-serif;
}
.haettenschweiler {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.courier {
  font-family: "Courier New", Courier, monospace;
}
.monospace {
  font-family: monospace;
}
.segoe {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.times-roman {
  font-family: "Times New Roman", Times, serif;
}
.lobster {
  font-family: "Lobster", cursive;
}
